/* dark and light mode settings */
@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}
  
@media (prefers-color-scheme: light) {
    body { background: white; color: black; }
}

/* draggable region */
body {
    -webkit-app-region: drag;
}
.btn, a {
    -webkit-app-region: no-drag;
}